<link rel="stylesheet" href="/components/topbar/topbar.css">
<div class="mdl-layout__tab-bar-container">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#created" class="mdl-layout__tab is-active mdl-badge" data-badge="">
      TODO
      <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
        <span class="mdl-ripple"></span>
      </span>
    </a>
    <a href="#done" class="mdl-layout__tab">
      Done
      <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
        <span class="mdl-ripple"></span>
      </span>
    </a>
    <a href="#all" class="mdl-layout__tab">
      All
      <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
        <span class="mdl-ripple"></span>
      </span>
    </a>
  </div>
</div>
<script src="topbar.js"></script>
